.place__url-heading {
    margin: 0 0 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    font-size: 12px;
    line-height: 170%;
    font-weight: 400;
    text-transform: uppercase;
}

@media screen and (max-width: 984px) {
    .place__url-heading {
      font-size: 12px;
      line-height: 1;
      letter-spacing: 2px;
    }
  }